.home-bgd{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../public/cartas/comodin.png');
    opacity: 0.1;
    z-index: 1;
}

.home{
    position: relative;
    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;
    z-index: 20;
    display: flex;
    flex-direction: column;
}